[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pdfkit = "*"
seqdiag = "*"
reportlab = "*"
pillow = "*"
graphviz = "*"

flask = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
